/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url('assets/GreasySpoonNF.ttf') format('truetype');
} */

html, body{
    height: 100%;
    overflow: hidden;
}

html body{
    margin-top: 120px;
    margin-bottom: 85px;
}

.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body { height: 100%; }
