<div class="row" id="product-page" *ngIf="loadProduct">
  <div class="col-12">
    <div class="row">
      <div class="col-12 product">
        <img [src]="product.img" class="img-large" />
        <span class="d-block" id="text-grande">{{ product.name | copy }}</span>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-12 mt-4 mb-4 text-center">
        <!-- extras -->

        <ng-container *ngIf="extras">
          <div class="row g-0">
            <div class="col-12">
              <h2 id="text">{{ extras.label | copy }}</h2>
            </div>
          </div>

          <div class="row g-0">
            <div
              class="col-3 extra border"
              *ngFor="let extra of extras.products"
            >
              <img [src]="extra.img" class="img-small" />
              <span class="d-block" id="text">{{ extra.name | copy }}</span>
              <ng-container *ngIf="extra.options.length === 1">
                <span class="d-block" id="text">{{
                  extra.options[0].active
                    ? "$ " + extra.options[0].price
                    : "$ 0"
                }}</span>
                <mat-checkbox
                  [(ngModel)]="extra.options[0].active"
                ></mat-checkbox>
              </ng-container>
              <ng-container *ngIf="extra.options.length > 1">
                <span class="d-block" id="text">{{
                  "$ " + extra.optionSelected.price
                }}</span>
                <br />
                <div class="block-radio m-auto">
                  <mat-radio-group
                    class="row"
                    id="text"
                    [(ngModel)]="extra.optionSelected"
                  >
                    
                      <mat-radio-button
                        class="col-md-5 col-sm-5 pb-3"
                        *ngFor="let option of extra.options; let first = first"
                        [checked]="first"
                        [value]="option"
                      >
                        {{ option.name | copy }}
                      </mat-radio-button>
                    
                  </mat-radio-group>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!extras">
          <div class="row g-0">
            <div class="col-12">
              <span class="d-block block-price" id="text">{{
                ("price" | copy) + ":" + " $ " + +product.price
              }}</span>
            </div>
          </div>
        </ng-container>

        <div class="row g-0 mt-4 mb-4" id="text">
          <button
            class="btn btn-block btn-primary rounded-0 mt-0 col-6 button"
            *ngIf="hasPrevious()"
            (click)="previous()"
          >
            {{ "previous" | copy }}
          </button>
          <button
            class="btn btn-block btn-primary rounded-0 mt-0 button"
            [ngClass]="{ 'col-12': !hasPrevious(), 'col-6': hasPrevious() }"
            *ngIf="hasNext()"
            (click)="next()"
          >
            {{ "next" | copy }}
          </button>
          <button
            class="btn btn-block btn-primary rounded-0 mt-0 button"
            [ngClass]="{ 'col-12': !extras, 'col-6': extras }"
            *ngIf="!extras || extraSelected === product.extras.length - 1"
            (click)="madeOrder()"
          >
            {{ "add.product" | copy }}
          </button>
        </div>

        <div class="row mt-4 mb-4" id="text">
          <div>
            <button
              class="btn btn-block btn-primary rounded-0 col-12 button"
              routerLink="['/list-category']"
              id="button"
            >
              {{ "back" | copy }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal_product let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="text">{{ "success.title" | copy }}</h5>
      <button
        type="button"
        class="close button"
        (click)="modal.dismiss()"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="text">{{ "success" | copy }}</div>
  </div>
</ng-template>

<div class="h-100" *ngIf="!loadProduct">
  <div class="spinner">
    <img src="assets/img/spinner.gif" alt="" />
  </div>
</div>
